* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.box {
  max-width: 1200px;
  margin: 100px auto;
}
.site-title {
  color: blue;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
}
.page-title {
  color: blue;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.table {
  margin-top: 100px;
  width: 100%;
  border-collapse: collapse;
  /* table-layout: fixed; */
}
th {
  background-color: #f5f5f5;
}
td {
  text-align: center;
}
th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}
.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.create-link,
.back-link {
  color: blue;
  border-bottom: 2px solid blue;
  font-weight: bold;
  font-size: 20px;
  /* display: block; */
}
.back-link {
  text-align: center;
}
.action-btn {
  display: inline-block;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-family: bold;
  line-height: 1;
  text-decoration: none;
  box-sizing: border-box;
}
.edit-link {
  background-color: blue;

  margin-right: 20px;
}
.delete-btn {
  background-color: red;
}
input {
  width: 50%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}
.register-btn,
.update-btn {
  display: block;
  margin: 30px auto;
  width: 200px;
  padding: 20px;
  background-color: #2563eb;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
dl {
  width: 100%;
  text-align: center;
}
dt {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 700;
}
dd {
  text-align: center;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
